In [1]:
import re
import requests

In [25]:
QTL_ID=[]
Chromosome=[]
Center_cM=[]
Range_cM=[]
Range_Mbp=[]
Significance=[]
Publicacion=[]
RAZA=[]
Pais=[]
Gene_Asociado=[]

In [26]:
url = input("Introduce una url para acceder a la información de la QTL: ")
r = requests.get(url)
QTL_information = r.text[:]
#print(QTL_information)
QTL_ID.append(re.findall('QTL #([0-9]+) Description',QTL_information)[0])
Chromosome.append(re.findall('Chromosome.*([0-9])',QTL_information)[0])
Center_cM.append(re.findall('Peak Location.*width.*>([0-9.]+)',QTL_information)[0])
Range_cM.append(re.findall('QTL Span.*<TD>([0-9.-]+)',QTL_information)[0])
Range_Mbp.append(re.findall('QTL Span.*<br>([0-9.-]+)',QTL_information)[0])
Significance.append(re.findall('Threshold significance level.*<TD>([A-Za-z]+)',QTL_information)[0])
link_1=re.findall('http.*PUBMED_ID=([0-9]+)',QTL_information)
Publicacion.append("http://www.ncbi.nlm.nih.gov/"+link_1[0])
RAZA.append(re.findall('Breeds.*\s.*\s.*href.*>([A-Za-z]+)',QTL_information)[0])
p=re.findall('Affiliation.*([ ,])([A-Za-z]+)<.TD',QTL_information)
Pais.append((p[0])[1])
Gene_Asociado.append(re.findall('Associated Gene.*>([a-z].*)<.font',QTL_information)[0])

Introduce una url para acceder a la información de la QTL: https://www.animalgenome.org/cgi-bin/QTLdb/OA/qdetails?QTL_ID=57718

In [27]:
print(QTL_ID)
print(Chromosome)
print(Center_cM)
print(Range_cM)
print(Range_Mbp)
print(Significance)
print(Publicacion)
print(RAZA)
print(Pais)
print(Gene_Asociado)

['57718']
['2']
['68.17']
['65.81-70.52']
['52.0-55.8']
['Significant']
['http://www.ncbi.nlm.nih.gov/23810588']
['Spanish']
['Spain']
['n/a']

In [14]:
csv_file=[]
for i in range(len(QTL_ID)):
    fila=QTL_ID[i]+ Chromosome[i]+ Center_cM[i]+ Range_cM[i]+ Range_Mbp[i]+ Significance[i]+ Publicacion[i]+ RAZA[i]+ Pais[i]+ Gene_Asociado[i]
    csv_file.append(fila)
for i in csv_file:
    print(i)

['13992', '2', '206', '171.7-247.7', '143.9-204.4', 'Suggestive', 'http://www.ncbi.nlm.nih.gov/19849860', 'Merino', 'Australia', 'n/a']
['14147', '2', '238.81', '221.5-236.4', '178.8-198.5', 'Significant', 'http://www.ncbi.nlm.nih.gov/20394603', 'Friesian', 'USA', 'n/a']
['57681', '2', '0.00', '69.74-69.74', '55.2-55.2', 'Significant', 'http://www.ncbi.nlm.nih.gov/23094085', 'Spanish', 'Spain']
['57684', '2', '0.00', '218.39-218.39', '172.5-172.5', 'Significant', 'http://www.ncbi.nlm.nih.gov/23094085', 'Spanish', 'Spain']
['57718', '2', '68.17', '65.81-70.52', '52.0-55.8', 'Significant', 'http://www.ncbi.nlm.nih.gov/23810588', 'Spanish', 'Spain', 'n/a']

In [11]:
import pandas as pd

In [ ]:
QTL_ID=[]
Chromosome=[]
Center_cM=[]
Range_cM=[]
Range_Mbp=[]
Significance=[]
Publicacion=[]
RAZA=[]
Pais=[]
Gene_Asociado=[]

In [28]:
data = {'QTL_ID':QTL_ID,'Chromosome':Chromosome,'Center_cM':Center_cM,'Range_cM':Range_cM,
       'Range_Mbp':Range_Mbp,'Significance':Significance,'Publicacion':Publicacion,
       'RAZA':RAZA,'Pais':Pais,'Gene_Asociado':Gene_Asociado}
df = pd.DataFrame(data,columns=['QTL_ID','Chromosome','Center_cM','Range_cM','Range_Mbp',
                                'Significance','Publicacion','RAZA','Pais','Gene_Asociado'])
df.to_csv('ADN.csv')

In [29]:
DF = pd.read_csv('ADN.csv')
DF

,Unnamed: 0,QTL_ID,Chromosome,Center_cM,Range_cM,Range_Mbp,Significance,Publicacion,RAZA,Pais,Gene_Asociado
0,0,57718,2,68.17,65.81-70.52,52.0-55.8,Significant,http://www.ncbi.nlm.nih.gov/23810588,Spanish,Spain,NaN

In [31]:
DF2 = pd.read_csv('ADN.csv',  skiprows=1,            
                 names=['UID','QTL_ID','Chromosome','Center_cM','Range_cM','Range_Mbp',
                       'Significance','Publicacion','RAZA','Pais','Gene_Asociado'],
                 index_col='UID')
DF2

,QTL_ID,Chromosome,Center_cM,Range_cM,Range_Mbp,Significance,Publicacion,RAZA,Pais,Gene_Asociado
UID,,,,,,,,,,
0,57718,2,68.17,65.81-70.52,52.0-55.8,Significant,http://www.ncbi.nlm.nih.gov/23810588,Spanish,Spain,NaN